:root {
    /* Primary Colors */
    --bright-red: hsl(12, 88%, 59%);
    --dark-blue: hsl(228, 39%, 23%);

    /* Neutral Colors */
    --dark-grayish-blue: hsl(227, 12%, 61%);
    --very-dark-blue: hsl(233, 12%, 13%);
    --very-pale-red: hsl(13, 100%, 96%);
    --very-light-gray: hsl(0, 0%, 98%);
    --lime-green: hsl(147, 100%, 65%);
}

html {
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Be Vietnam',
        sans-serif;
}

body {
    font-size: 1rem;
}

img {
    /* width: 100%; */
    height: auto;
    user-select: none;
    pointer-events: none;
}

a {
    color: var(--bright-red);
    font-weight: 500;
    text-decoration: none;
}

footer {
    background-color: var(--very-dark-blue);
    color: var(--very-light-gray);
    padding: 20px;
}

/* Attribution Text Styling */
.attribution {
    text-align: center;
    background-color: var(--very-dark-blue);
    color: var(--very-light-gray);
    padding: 10px;
}

.attribution a {
    color: var(--bright-red);
    font-weight: 700;
    text-decoration: none;
}

.attribution a:hover {
    text-decoration: underline;
}

.attribution a:focus {
    text-decoration: underline;
    color: var(--lime-green);
}